@import './common';

.loader {
    display: none;
  }

.cat-info {
display: none;
}

.error {
display: none;
}

.container {
    display: flex;
}
.column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}
  